/* **************** Fluid Text **************** */
/* todo: https://utopia.fyi/type/calculator/ */
:root {
  /* ? Customize ? */
  --step--2: clamp(0.74rem, 0.75rem + -0.05vw, 0.7rem);
  --step--1: clamp(0.89rem, 0.87rem + 0.07vw, 0.94rem);
  --step-0: clamp(1.06rem, 1.01rem + 0.25vw, 1.25rem);
  --step-1: clamp(1.28rem, 1.17rem + 0.53vw, 1.67rem);
  --step-2: clamp(1.53rem, 1.34rem + 0.94vw, 2.22rem);
  --step-3: clamp(1.84rem, 1.53rem + 1.52vw, 2.96rem);
  --step-4: clamp(2.2rem, 1.73rem + 2.36vw, 3.95rem);
  --step-5: clamp(2.64rem, 1.93rem + 3.55vw, 5.26rem);
}

/* **************** Custom Properties **************** */
:root {
  --header-color: #19282f;
  --items-color: #fbf8f1;
  --hover-color: #ffe162;
  --button-color: #121212;
  --titles-color: #323232;
  --text-color: #484848;
}
:root {
  --max-width: 1200px;
}

/* **************** Reset **************** */
/* ? Html */
/* todo: Posdata soy un MiduLover y Copilot es mi Padre, Viva Koi */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

/* ? Body */
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: #fefefe;
}

/* ? Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  color: var(--titles-color);
}

/* ? Media */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ? Lists */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ? Links */
a {
  text-decoration: none;
  color: inherit;
}

/* ? Paragraphs */
p {
  margin: 0;
  padding: 0;
}

/* **************** Components **************** */
/* ? Card */
.card {
  position: relative;
  min-width: 300px;
  height: 300px;
}
.card .card-image {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 100%;
  background-color: #fefefe;
}
.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .card-description {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 3rem;
  background-color: rgba(0, 0, 0, 0.45);
}
.card-description h3 {
  font-size: var(--step-1);
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
}
.card-description p {
  font-size: var(--step-0);
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: right;
}

@media screen and (min-width: 48em) {
  .card {
    width: 500px;
  }
}

/* ? Card Menu */
.menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  gap: 2rem;
}
.menu .card-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #19282ffa;
  border-radius: 1rem 1rem;
}
.card-menu .card-menu-image {
  width: 100%;
  height: 300px;
  background-color: #fefefe;
}
.card-menu .card-menu-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
.card-menu .card-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 300px;
}
.card-menu-content .card-menu-title {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  border-bottom: 1px solid #ccc;
}
.card-menu-content .card-menu-title h3 {
  font-size: var(--step-2);
  font-weight: 600;
  line-height: 1.5;
  color: #f5f5f5;
}
.card-menu-content .card-menu-description {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
.card-menu-content .card-menu-description p {
  font-size: var(--step-0);
  font-weight: 400;
  line-height: 1.5;
  color: var(--items-color);
}
.card-menu-content .card-menu-price {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.card-menu-content .card-menu-price p {
  font-size: var(--step-1);
  font-weight: 600;
  line-height: 1.5;
  color: #f5f5f5;
}
.card-menu-content .card-menu-rating {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.card-menu-content .card-menu-rating p {
  font-size: var(--step-1);
  font-weight: 400;
  line-height: 1.5;
  color: #f5f5f5;
}
.card-menu-content .card-menu-rating .rating {
  font-weight: 600;
  color: var(--hover-color);
}
.card-menu-content .card-menu-button {
  /* width: 100%; */
  height: 20%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0 1rem;
  font-family: 'Poppins', sans-serif;
}
.card-menu-content .card-menu-button a {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--items-color);
  border-radius: 0.25rem;
  color: #19282f;
  font-size: var(--step-1);
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  text-align: center;
}

/* ? Media Query */
@media screen and (min-width: 32em) {
  .menu {
    gap: 2rem;
  }
  .menu .card-menu {
    width: 500px;
    flex-direction: row;
    border-radius: 1rem 1rem;
  }
  .card-menu .card-menu-image {
    width: 50%;
    height: 300px;
  }
  .card-menu .card-menu-image img {
    border-radius: 1rem 0 0 1rem;
  }
  .card-menu .card-menu-content {
    width: 50%;
    height: 300px;
  }
}

@media screen and (min-width: 66em) {
  .menu {
    justify-content: space-between;
  }
}

/* ? Container */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2rem 1rem;
  min-height: 100vh;
}

/* ? Go Top */
.go-top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--button-color);
  font-weight: 600;
  line-height: 1.5;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.go-top svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fff;
}
.go-top.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ? Hero Image */
.hero-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--header-color);
  background-image: url('/src/assets/img/hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero-image-about {
  position: relative;
  background-image: url('/src/assets/img/hero-image-about.jpg');
}
.hero-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 40, 47, 0.2);
}

/* ? Title and its Line */
.title {
  font-size: var(--step-4);
  font-weight: 600;
  color: var(--titles-color);
}
.line {
  width: 75px;
  height: 2px;
  background-color: var(--hover-color);
  margin-bottom: 1rem;
}

/* ? Star */
.stars {
  display: flex;
  align-items: center;
  height: 100%;
  fill: var(--hover-color);
}
.stars svg {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 0.5rem;
  fill: var(--hover-color);
}

/* ? Subtitle */
.subtitle {
  font-size: var(--step-2);
  font-weight: 400;
  color: var(--text-color);
}

/* **************** Utilities **************** */
/* ? Center */
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center-flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* ? Fluid */
.fluid-5 {
  font-size: var(--step-5);
}
.fluid-4 {
  font-size: var(--step-4);
}
.fluid-3 {
  font-size: var(--step-3);
}
.fluid-2 {
  font-size: var(--step-2);
}
.fluid-1 {
  font-size: var(--step-1);
}
.fluid-0 {
  font-size: var(--step-0);
}
.fluid-m1 {
  font-size: var(--step--1);
}
.fluid-m2 {
  font-size: var(--step--2);
}

/* ? Font weight */
.font-w-400 {
  font-weight: 400;
}
.font-w-600 {
  font-weight: 600;
}
.font-w-900 {
  font-weight: 900;
}

/* **************** Site Styles **************** */
/* ? Header */
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--header-color);
}
.header .header-container {
  max-width: var(--max-width);
  margin: 0 auto;
}
.header .center-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  gap: 1rem;
}
.header .header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
}
.header .header-logo img {
  width: auto;
  height: 100%;
  margin-right: 0.5rem;
}
.header .header-logo span {
  font-size: var(--step-1);
  font-weight: 600;
  color: #fff;
}

/* ? Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navigation a {
  color: var(--items-color);
  font-size: var(--step-1);
  font-weight: 400;
}
.navigation a.active {
  color: var(--hover-color);
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

/* ? Media Query */
@media screen and (min-width: 48em) {
  .header .header-logo {
    width: auto;
  }
  .navigation {
    width: 40%;
  }
  .header .center-items {
    padding: 1rem;
  }
  .navigation a:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
  }
}

/* ? Hero Image Content */
.hero-image-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  min-width: 300px;
  height: 250px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 1.25rem;
  flex-direction: column;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.75rem;
}
.hero-image-content h1 {
  font-size: var(--step-4);
  font-weight: 900;
  color: #fefefe;
}
.hero-image-content p {
  font-size: var(--step-2);
  font-weight: 600;
  color: #f5f5f5;
}
.hero-image-content button {
  width: 200px;
  font-size: var(--step-1);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: var(--button-color);
  border: 0;
  border-radius: 0.75rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* ? Media Query */
@media screen and (min-width: 48em) {
  .hero-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
  }
  .hero-image-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    padding: 1.5rem;
    align-items: center;
    background-color: rgba(238, 238, 238, 0.1);
    backdrop-filter: blur(4px);
    /* transform: translateY(-50%); */
  }
}

/* ? Location */
.location {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.location-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
  padding: 1rem 0;
}

/* ? Scroll Bar */
body::-webkit-scrollbar {
  width: 0;
}

/* ? Footer */
.footer {
  width: 100%;
  height: 350px;
  background-color: var(--header-color);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .footer-content {
  max-width: var(--max-width);
  margin: 0 auto;
}
.footer .footer-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.footer hr {
  width: 100%;
  height: 1px;
  background-color: var(--items-color);
}

/* ? Social Media */
.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  padding: 1rem 1.5rem;
  gap: 1rem;
}
.social-media li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-media li h5 {
  font-size: var(--step-1);
  font-weight: 600;
  color: #f5f5f5;
}
.social-media li svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

/* ? Copyright */
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  padding: 1rem 1.5rem;
  gap: 1rem;
}
.copyright li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright li h5 {
  font-size: var(--step-1);
  font-weight: 600;
  color: #f5f5f5;
}
.copyright li svg {
  width: 24px;
  height: 24px;
  fill: #fff;
}

@media screen and (min-width: 48em) {
  .social-media {
    width: 40%;
  }
  .copyright {
    width: 40%;
  }
  .footer hr {
    display: none;
  }
  .footer {
    height: 200px;
  }
}

/* ? Menu Pizza */
.menu-pizza {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu-pizza .menu-pizza-image {
  width: 100%;
  height: 60%;
  background-color: var(--header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu-pizza .menu-pizza-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu-pizza .menu-pizza-content {
  max-width: 800px;
  width: 100%;
  height: 40%;
  background-color: #fff;
}
.menu-pizza-content .menu-pizza-title {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
  border-bottom: 1px solid #ccc;
}
.menu-pizza-content .menu-pizza-title h3 {
  font-size: var(--step-2);
  font-weight: 600;
  line-height: 1.5;
  color: var(--titles-color);
}
.menu-pizza-content .menu-pizza-description {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1rem;
}
.menu-pizza-content .menu-pizza-description p {
  font-size: var(--step-1);
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}
.menu-pizza-content .menu-pizza-price {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.menu-pizza-content .menu-pizza-price p {
  font-size: var(--step-1);
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-color);
}
.menu-pizza-content .menu-pizza-rating {
  height: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.menu-pizza-content .menu-pizza-rating p {
  font-size: var(--step-1);
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-color);
}
.menu-pizza-content .menu-pizza-rating .rating {
  font-weight: 600;
  color: var(--hover-color);
}

/* ? Return Button */
.return-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 4rem;
  height: 4rem;
  background-color: var(--titles-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.return-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.return-button svg {
  width: 16px;
  height: 16px;
  fill: #fff;
}

/* ? About Content */
.about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding: 2rem 0;
}
.about-content .about-content-text {
  max-width: 300px;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.about-content-image {
  width: auto;
  height: 500px;
  background-color: var(--header-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

/* ? Contact Form */
.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  gap: 1rem;
  padding: 1rem 0;
  max-width: 800px;
  font-family: 'Poppins', sans-serif;
}
.contact-form .form-group {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  padding: 1rem 0;
}
.form-group label {
  font-size: 2rem;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  color: var(--titles-color);
  margin-bottom: 0.5rem;
}
.form-group input {
  font-size: var(--step-1);
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  border: 1px solid #ccc;
  padding: 0 1rem;
  /* width: 100%; */
  height: 40px;
  outline: none;
}
.form-group textarea {
  font-size: var(--step-1);
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  border: 1px solid #ccc;
  /* width: 100%; */
  height: 100px;
  padding: 0.5rem 1rem;
  outline: none;
  resize: none;
}
.form-group .error,
.contact-form .success {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #fe5f55;
  color: #fff;
  padding: 0 1rem;
}
.contact-form .success {
  background-color: #4caf50;
}
.contact-form .btn {
  width: 100%;
  height: 40px;
  max-width: 300px;
  font-size: var(--step-1);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: var(--items-color);
  background-color: #2e2d4d;
  border-radius: 6px;
  padding: 0 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.contact-form .loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
