/* **************** Fluid Text **************** */
/* todo: https://utopia.fyi/type/calculator/ */
:root {
  /* ? Customize ? */
  --step--2: clamp(0.74rem, 0.75rem + -0.05vw, 0.7rem);
  --step--1: clamp(0.89rem, 0.87rem + 0.07vw, 0.94rem);
  --step-0: clamp(1.06rem, 1.01rem + 0.25vw, 1.25rem);
  --step-1: clamp(1.28rem, 1.17rem + 0.53vw, 1.67rem);
  --step-2: clamp(1.53rem, 1.34rem + 0.94vw, 2.22rem);
  --step-3: clamp(1.84rem, 1.53rem + 1.52vw, 2.96rem);
  --step-4: clamp(2.2rem, 1.73rem + 2.36vw, 3.95rem);
  --step-5: clamp(2.64rem, 1.93rem + 3.55vw, 5.26rem);
}

/* **************** Custom Properties **************** */
:root {
  --header-color: #19282f;
  --items-color: #fbf8f1;
  --hover-color: #ffe162;
  --button-color: #121212;
  --titles-color: #323232;
  --text-color: #484848;
}
:root {
  --max-width: 1200px;
}

/* **************** Reset **************** */
/* ? Html */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

/* ? Body */
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: #fefefe;
}

/* ? Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: 1.5;
  color: var(--titles-color);
}

/* ? Media */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ? Lists */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* ? Links */
a {
  text-decoration: none;
  color: inherit;
}

/* ? Paragraphs */
p {
  margin: 0;
  padding: 0;
}

/* **************** Components **************** */
/* ? Card */
.card {
  position: relative;
  width: 300px;
}
.card

/* ? Container */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
}

/* ? Hero Image */
.hero-image {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--header-color);
  background-image: url('/src/assets/img/hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* **************** Utilities **************** */
/* ? Fluid */
.fluid-5 {
  font-size: var(--step-5);
}
.fluid-4 {
  font-size: var(--step-4);
}
.fluid-3 {
  font-size: var(--step-3);
}
.fluid-2 {
  font-size: var(--step-2);
}
.fluid-1 {
  font-size: var(--step-1);
}
.fluid-0 {
  font-size: var(--step-0);
}
.fluid-m1 {
  font-size: var(--step--1);
}
.fluid-m2 {
  font-size: var(--step--2);
}

/* ? Font weight */
.font-w-400 {
  font-weight: 400;
}
.font-w-600 {
  font-weight: 600;
}
.font-w-900 {
  font-weight: 900;
}

/* **************** Site Styles **************** */
/* ? Header */
.header {
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--header-color);
}
.header .header-container {
  max-width: var(--max-width);
  margin: 0 auto;
}
.header .center-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  gap: 1rem;
}
.header .header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
}
.header .header-logo img {
  width: auto;
  height: 100%;
  margin-right: 0.5rem;
}
.header .header-logo span {
  font-size: var(--step-1);
  font-weight: 600;
  color: #fff;
}

/* ? Navigation */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.navigation a {
  color: var(--items-color);
  font-size: var(--step-1);
  font-weight: 400;
}
.navigation a.active {
  color: var(--hover-color);
  font-weight: 600;
  transition: color 0.2s ease-in-out;
}

/* ? Media Query */
@media screen and (min-width: 48em) {
  .header .header-logo {
    width: auto;
  }
  .navigation {
    width: 40%;
  }
  .header .center-items {
    padding: 1rem;
  }
  .navigation a:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
  }
}

/* ? Hero Image Content */
.hero-image-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  min-width: 300px;
  height: 250px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 1.25rem;
  flex-direction: column;
  color: #fff;
  background-color: rgba(238, 238, 238, 0.25);
  border-radius: 0.75rem;
}
.hero-image-content h1 {
  font-size: var(--step-4);
  font-weight: 900;
  color: #f5f5f5;
}
.hero-image-content p {
  font-size: var(--step-2);
  font-weight: 400;
  color: #f5f5f5;
}
.hero-image-content button {
  width: 200px;
  font-size: var(--step-1);
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background-color: var(--button-color);
  border: 0;
  border-radius: 0.75rem;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* ? Media Query */
@media screen and (min-width: 48em) {
  .hero-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
  }
  .hero-image-content {
    top: 50%;
    left: 1rem;
    width: 800px;
    padding: 1.5rem;
    align-items: center;
    transform: translateY(-50%);
  }
}

/* ? Location */
.location {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.location .title {
  font-size: var(--step-4);
  font-weight: 600;
  color: var(--titles-color);
}
.location .line {
  width: 75px;
  height: 2px;
  background-color: var(--hover-color);
  margin-bottom: 1rem;
}
.location p {
  font-size: var(--step-2);
  font-weight: 400;
  color: var(--text-color);
}
.location-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
